
.container {
    width: 1140px;
    margin: auto;
        

}
/* nav section */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 48px;
font-weight: bold;
font-family: 'Inter', sans-serif;
}
.list-style{
    opacity: 50%;
}
/* banner */
main h1 span{
    font-size: 65px;
    font-weight: 700;
    color: rgb(233, 90, 8);
    font-weight: 900;
    font-family: 'Noto Serif', serif;
}
main h1{
    font-size: 65px;
    font-weight: 700;
    
    font-weight: 900;
    font-family: 'Noto Serif', serif;
}
main p{
   color: rgba(0, 0, 0, 0.5);
font-family: Inter;
font-size: 22px;
font-weight: 400;
}
.banner {
display: flex;

background-color: aqua;
}
.banner-text {
    width: 50%;   
}

